{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Editar"{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Título</label>
    <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Post</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <button>Salvar</button>
</form>
<hr>
<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <button class="danger" onclick="return confirm('Você tem certeza?');">Deletar</button>
</form>
{% endblock %}